language: python
dist: xenial
python:
- 2.7
- 3.6
- 3.7
install:
- pip install tox-travis
script:
- tox
after_success: 
cache:
  pip: true
notifications:
  webhooks:
    secure: MDbJrlR7JyB1o0ID6oTvw5wROUHZd/8qmMFleesYTy19Bi/khcDHPgnkSMFGpmHyX/PGIPiKI3yiMstvg/mQD/IFi8hvP1RZArbbxxKC1L1GaLOGMPmwS1ffybA6IyWSMmT5M3OXXRkAK0DzooXF0UbCLWrl3tZ7jrG1nhDV6zGgpumbJQvgXkzM/rnS3o8T6S6OsHn0dNdGsLFxW/sm1pUpFVR45ZvCB9NgDhtpSPjBWOsl2xpUt+fDfmB4f/ji6AcOzpp4eBDe/iH83jM4ecPN0PscA1jot/OI8R8AehqSGvOE3NNibBD2L6oXQMnSAiS1/stD7p9uZAk78dOzhTm35PKfJU5JDzmY7U9h/I7PVjECV+BNk4FvzdlQvdO4Amo1HJLDXqOjNe7qPQs8NujPZL4gqEp86eJfYxBcFzDmaREfX7GVAU/Lh2regU3pVPXYbdxOaG2mTsHE10goCJvpU5E1exDVqOE48xM4Z0lL7DKTMHIX370swlTlhXY8f4G3OgrugK5SQwTExaVOZRbQIs5X6tDDcsXoT+E70qoDvFw4tkuLDsdSV3+UDXHbTotea8lhupQ3RIULZaDZu/k17dDBex2UIG3ZBqFEkLP+2q6/hSSSyW6wTin5MQMroLd6TETvIK72v0cbFcw7uXjsKmKvF2df4VkCTn5+lsI=
